@model IEnumerable<FirstMVC.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}





    @foreach (Product item in Model)
    {

        <div class="col-4">

        <a asp-controller="Product" asp-action="GetProductByID" asp-route-id="@item.ID">
               
                <img src="/Images/@item.Image" />
            </a>

            <h3>@item.Name</h3>
            <p>@item.Price $</p>
            <p>
                In Stock : @item.Quantity
            </p>

        </div>
    }
