@section Products
{
    @foreach (Product item in Model)
    {

        <div class="col-4">

            <a asp-controller="Product" asp-action="GetProductByID">

                <img src="/Images/@item.Image" />
            </a>

            <h4>@item.Name</h4>
            <p>@item.Price</p>
            <p>
                In Stock : @item.Quantity
            </p>

        </div>
    }
}

    

