@model FirstMVC.Models.Product

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_SingleProductLayout.cshtml";
}

<div class="col-5">
    <img src="~/images/@Model.Image" width="100%" id="productImg">
</div>

<div class="col-2">
    <h1>@Model.Name</h1>
    <h4>$@Model.Price</h4>
    <h4>In Stock: @Model.Quantity</h4>
   

    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.ID" class="btn">Add to Cart</a>

</div>

