@using System.Security.Claims
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Online Shop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!--added a cdn link by searching font awesome4 cdn and getting this link from https://www.bootstrapcdn.com/fontawesome/ this url*/-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">

                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        OnlineShop
                    </a>
                </div>

                <nav>
                    <ul id="MenuItems" class="navelem">

                        <li><a asp-controller="Product" asp-action="Index">Products</a></li>

                        <li class="dropdown">
                            <a  class="dropbtn">Categories</a>
                            <div class="dropdown-content">
                                @await Component.InvokeAsync("Category")

                            </div>
                        </li>


                        <li><a asp-controller="Services" asp-action="Contact">Contact Us</a></li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a asp-controller="Account" asp-action="Profile" class="dropbtn">@User.Identity.Name</a>
                                <div class="dropdown-content">
                                    <a asp-controller="Account" asp-action="Profile" class="dropbtn">Profile</a>
                                    <a asp-controller="Account" asp-action="SignOut" class="dropbtn">Logout</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        }



                    </ul>
                </nav>

                @{
                    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                }

                <a asp-controller="Cart" asp-action="GetCart" asp-route-id="@userId">

                    <img src="~/images/cart.png" width="30px" height="30px" />
                </a>

                <img src="~/images/menu.png" class="menu-icon" onClick="menutoggle()">
            </div>
        </div>
    </div>

    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>

                <option>Default sorting</option>
                <option>Sort by price</option>

            </select>
        </div>


        <!--<h2 class="title" >Featured Products</h2>-->
        <div class="row">
            

            @RenderBody()



        </div>

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>

    </div>
  


 
  

    <div class="footer">
        <div class="small-container">

            <div class="row">



                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                    </ul>
                </div>

            </div>

            <hr><!--horizontal line-->

        </div>
    </div>




    <!-----------------------------------js for toggle menu----------------------------------------------->
    <script>
        @await RenderSectionAsync("Scripts", required: false);
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        var menuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>
