@model FirstMVC.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2 class="title">Login</h2>

<form asp-action="SaveLogin">
    <div asp-validation-summary="All" class="text-danger" style="color: red"></div>

    <div >

        <label asp-for="UserName" >Username</label>
        <input placeholder="Username" asp-for="UserName"/> 

    </div>

    <div >

        <label asp-for="Password" ></label>
        <input placeholder="Password" asp-for="Password"  />

    </div>

    <div >

        
            <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
       

    </div>

    <div >

        <input class="btn" type="submit" value="Login"  />

    </div>

   

        <div class="regdiv">
        <a class="btnreg" asp-controller="Account" asp-action="Register">Register</a>
    </div>
</form>

